body {
	background-color: #222222;
	font-size: 16px;
	line-height: 1.5
}

.site-content {
	width: 1080px;
}

.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok {
	display: none !important;
}