// Tablet
$screen-tablet: 620px;

// Desktop
$screen-desktop: 1080px;

// Tablet devices
@mixin tablet {
    @media (min-width: #{$screen-tablet}) {
        @content;
    }
 }
 
 // Desktop devices
@mixin desktop {
    @media (min-width: #{$screen-desktop}) {
        @content;
    }
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    color: white;
	background-color: #222222;
	line-height: 1.5;
    font-family: Exo,sans-serif;
    margin: 0;
}

input {
    line-height: 1.5;
    font-family: Exo,sans-serif;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

h2 {
    font-size: 1.5em;
    margin: .67em 0;
}

.wpcf7-form-control:focus{
    color: #00cc00 !important;
}

.wpcf7-form-control {
    margin-top: 8px;
}

input[type=search]:focus{
    color: #00cc00;
}

button, input[type=button], input[type=url], input[type=text], input[type=search], input[type=submit], textarea {
    box-shadow: none;
    background-color: #222222;
    border: 2px solid #00cc00;
    border-radius: 3px;
    color: #00cc00;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    padding: .75rem 2.25rem;
}

button:hover, input[type=button]:hover, input[type=submit]:hover {
    box-shadow: none;
}

.min-input {
    width: 240px;
}

.text-area-input {
    height: 100px;
}

.container {
    margin: 0 auto;
    max-width: 1080px;
    padding: 2.5%;
    width: 100%;
}

.entry-title {
    margin-top: 3rem;
}

.archive .page-title, .search .page-title {
    border-bottom: 1px dotted #fff;
    margin-top: 3rem;
    padding-bottom: 1.5rem;
}

.archive .hentry {
    border-bottom: 1px dotted #fff;
}

.entry-title-inline {
    display: inline;
    font-size: 1.25rem;
}

.entry-meta {
    margin-bottom: 3rem;
}

.source {
    font-style: italic;
    font-size: 1.25rem;
}

.content-area {
    max-width: 1080px;
}   

a {
    text-decoration: none;
    background-color: transparent;
}

a, a:visited {
    color: #00cc00;
}

p {
    margin-bottom: 1.5rem;
}

.quotesLogo {
    display: block;
    width: 300px;
    height: auto;
    max-width: 100%;
    border: 0;
}

.archives ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.archives ul li {
    font-size: 1rem;
    margin-bottom: .5rem;
    margin-right: 1.125rem;
}

.clearfix {
    clear: both;
    content: "";
    display: table;
}

.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok {
	display: none !important;
}

.site-header {
    margin-top: 3rem;
}

.site-info {
    display: flex;
    flex-wrap: wrap;
    margin: 4.5rem 0 3rem;
}

.site-info p {
    margin-top: 16px;
    flex: 0 1 100%;
    line-height: 1;
}

.search-form input[type=search] {
	width: 150px;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

.search-submit {
    border: 0;
    padding-left: .75rem;
    padding-right: .75rem;
}

.footer-navigation {
    display: inline-flex;
    list-style: none;
    margin: 1rem 0 0;
    padding: 0;
}

.footer-navigation li:first-child {
    padding-left: 0;
}

.footer-navigation li {
    border-right: 1px solid #fff;
    line-height: 1;
    padding: 0 1rem;
}

.footer-navigation li:last-child {
    border-right: 0;
}

@include tablet {
    .footer-navigation li:last-child {
        border-right: 1px solid #fff;
    }

    .site-info p {
        padding-left: 1rem;
        flex: initial;
    }

    .quotesLogo {
        width: 500px;
    }

    .archives ul li {
        font-size: 1.25rem;
    }

    .single .entry-content p, .home .entry-content p, .archive .entry-content p {
        font-size: 1.75rem;
    }

    .min-input {
        width: 410px;
    }
}

@include desktop() {

    .quotesLogo {
        margin: 0 auto;
        width: 700px;
    }

    .site-content {
        margin: 4.5rem 175px 1.5rem;
        position: relative;
    }

    .site-info {
        justify-content: flex-end;
    }

    .site-content:before {
        content: "\f10d";
        left: -175px;
        font-weight: 900;
    }

    .site-content:after {
        content: "\f10e";
        right: -175px;
        font-weight: 900;
    }

    .site-content:after, .site-content:before {
        color: #0c0;
        font-family: 'Font Awesome 5 Free';
        font-size: 125px;
        line-height: 125px;
        position: absolute;
        top: 0;
    }

    .home .entry-content p, .archive .entry-content p {
        font-size: 2.5rem;
    }

}